/*BANNER*/
#Banners {
    height: 450px;
    position: relative;
    top: -3px;
    width: 100%;
    z-index: 3;
}

#home-slider-container {
	background: #fff url(../images/banners/carregando.png) no-repeat center;
	height: 469px;
	position: relative;
	width: 100%;
	min-width:1000px;
	z-index: 0;
}

#home-slider {
	position: relative;
	width: 100%;
	z-index: 1;
}

#home-slider .home-slider-item {
	/*background-position: top center;
	background-repeat: no-repeat;*/
	float: left;
	height: 469px;
	opacity: 0;
	position: relative;
	width: 100%;
	z-index: 1;
}

#slider-prev:hover, #slider-next:hover {
	opacity: 0.7;
}

#slider-prev {
	left: 50%;
	margin-left: -465px;
}

#slider-next {
	right: 50%;
	margin-right: -465px;
}

#slider-controller {
	opacity: 0;
	z-index: 10;
	display:none;
}
.Setas{
	z-index: 1000;
	position: absolute;
	margin: 0 auto;
	top: 50%;
	width: 100%;
}

.Seta_Esquerda{
	position: absolute;
	left: 24px;
	width: 31px;
	height: 78px;
	cursor: pointer;
	background: url(../images/banners/SetaEsquerda.png) no-repeat center top;
}

.Seta_Direita{
	position: absolute;
	right: 24px;
	width: 31px;
	height: 78px;
	cursor: pointer;
	background: url(../images/banners/SetaDireita.png) no-repeat center top;
}

.Seta_Esquerda:hover{ 
	background: url(../images/banners/SetaEsquerda.png) no-repeat center bottom;
}

.Seta_Direita:hover{
	background: url(../images/banners/SetaDireita.png) no-repeat center bottom;
}
/* Somente para Chrome e Safari */
@media screen and (-webkit-min-device-pixel-ratio:0) {

	#Banners {
	    height: 450px;
	    position: relative;
	    top: -3px;
	    width: 100%;
	    z-index: 3;
	}
 
}